/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.token.comment {
	color: #94a3b8;
}

.token.keyword {
	color: #fcd34d;
}

.token.class-name {
	color: #7fd3ed;
}

.token.function {
	color: #7fd3ed;
}
.token.string {
	color: #85d996;
}
